* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Lato, sans-serif;
  outline: none;
}

header {
  background-color: #e0e0e0;
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
}

.img-logo {
  width: 30px;
  margin-left: 20px;
}

nav h2 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.menus {
  display: none;
}

.menu-mobile {
  position: absolute;
  width: 85%;
  height: 100vh;
  background-color: #333;
  top: 0;
  right: 0;
  z-index: 5;
}

.ativo {
  display: block;
}

.menu-mobile li {
  text-align: end;
  padding: 5px 20px;
  font-size: 16px;
  transition: all 300ms;
}

.menu-mobile li:first-child {
  margin: 20px 0 26px;
  list-style: none;
}

.menu-mobile .close {
  display: flex;
  cursor: pointer;
}

.menu-mobile li a {
  color: #fff;
  text-decoration: none;
}

.menu-mobile li:hover:not(:first-child) {
  cursor: pointer;
  background-color: #c4c4c4;
  color: #333;
}

.img-menu {
  width: 24px;
  margin-right: 20px;
}

.section {
  max-width: 1100px;
  margin: 26px 20px 0 20px;
}

.title-form {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 22px;
}

.form select,
.form input {
  height: 32px;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 5px;
  color: #979797;

  margin-bottom: 20px;
}

.button {
  width: 100%;
  height: 33px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  transition: all 300ms;
}

.button:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

hr {
  border: 1px solid #979797;
  margin-top: 28px;
}

.section-transactions {
  display: flex;
  flex-direction: column;
}

.section-transactions h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #979797;
}

.th_mercadoria {
  text-align: left;
  padding-left: 22px;
  padding-bottom: 5px;
}

.text-standard,
.text-standard-bold {
  font-size: 14px;
}

tbody tr td {
  padding: 11px 10px 11px 10px;
}
tfoot tr td {
  padding: 11px 10px 11px 22px;
}

tbody tr td:first-child,
tfoot tr td:first-child {
  display: none;
}

tbody tr td:nth-child(3),
tfoot tr td:nth-child(3) {
  width: 30%;
  text-align: end;
}

tfoot tr:nth-child(1) {
  border-bottom: hidden;
  border-top: 3px double #979797;
  vertical-align: top;
}

.positive {
  width: 65%;
}

.positive span {
  padding-left: 8px;
}

.tr-total {
  width: 100%;
  font-weight: bold;
}

.noConteudo {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.profit {
  position: relative;
}

.profit span {
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  right: 10px;
  bottom: 0;
}

@media (min-width: 768px) {
  .menu-mobile {
    /* display: block; */
    width: 33%;
  }
  form {
    height: 189px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 61px 20px 71px 20px;
  }

  .title-form {
    display: inline-block;
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .form:nth-child(even) {
    width: 22%;
  }

  .form:nth-child(3) {
    width: 50%;
  }

  .button {
    width: 200px;
    height: 33px;
    margin: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  hr {
    display: none;
  }

  thead tr th:last-child {
    text-align: end;
    padding-right: 20px;
  }

  tbody tr td,
  tfoot tr td {
    padding-right: 20px;
  }

  .profit {
    position: relative;
  }

  .profit span {
    right: 20px;
    bottom: 0;
  }
}

@media (min-width: 1024px) {
  nav h2 {
    text-align: left;
    margin-left: 20px;
  }

  .menu-mobile {
    position: initial;
    width: initial;
    height: initial;
  }

  .menu-mobile li {
    padding: initial;
  }

  nav .menus {
    display: flex;
    justify-content: flex-end;
    min-width: 342px;
    margin: 0 20px;
    background-color: #fff;
  }

  nav .menus.menu-mobile li:hover {
    background-color: inherit;
  }

  .menus li {
    margin: 10px 20px 10px 0;
  }

  .menus li a {
    color: #333;
    transition: all 300ms;
  }

  .menus li a:hover {
    color: red;
  }

  .menus li:first-child {
    display: none;
  }

  .menus li:nth-child(2) {
    margin-left: 20px;
  }

  .menus li:nth-child(2)::after {
    content: '';
    border-right: 1px solid red;
    margin-left: 20px;
  }
  .img-menu {
    display: none;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  .section {
    margin: 26px 0;
  }

  .section-left {
    margin-left: 20px;
  }

  .section-right {
    width: 100%;
    padding: 26px 20px;
  }

  hr {
    display: none;
  }

  form {
    width: 400px;
    height: 344px;
    display: flex;
    flex-direction: column;
  }

  .form input,
  .form select {
    width: 358px;
    margin-bottom: 20px;
  }

  .form label {
    width: 130px;
  }

  .button {
    width: 358px;
    bottom: -5px;
  }
}

@media (min-width: 1100px) {
  nav,
  main {
    max-width: 1100px;
    margin: auto;
  }
}
